@media (max-width: 1070px) {
  .launches__card-cnt {
    flex-wrap: wrap;
    gap: 160px;
    justify-content: center;
  }
}

@media (max-width: 992px) {
  

  .header {
    padding: 20px 0 0;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid #b2b3b3;

    &__backgroung-half{
      background-color: #030f1e85;
      backdrop-filter: blur(15px);
    }
    
    &__backgroung-full{
      background-color: #030f1ed1;
    }
    
    &__backgroung-black{
      background-color: #000000d1;
    }

    &__wrapper-container {
      position: fixed;
      top: 0;
      right: -1000px;
      z-index: 10;
      height: 100vh;
      padding: 65px 30px 0 15%;
      flex-direction: column-reverse;
      justify-content: start;
      align-items: end;
      gap: 20px;
      background-color: rgb(24, 23, 23);
      transition: all 0.5s;

    }

    &__wrapper{
      border: none;
    }

    &__nav {
      text-align: center;
    }

    &__btn {
      margin: 0;
      padding: 0;
      width: 70px;
      height: 22px;

    }

    &__list {
      gap: 18px;
      flex-direction: column;
    }

    &__item {
      text-align: end;
    }

    &__link {
      font-size: 20px;
      color: rgba(133, 130, 130, 0.664);
      transition: color 0.5s;
      &:hover{
        color: rgba(252, 72, 72, 0.61);
      }
    }

    &__burger-menu {
      display: flex;
      position: fixed;
      right: 32px;
      z-index: 11;
    }
  }
  .burger-active{
    right: 0;
  }


  .falcon-9 {
    padding: 200px 0 110px;
    &__stat {
      max-width: -moz-min-content;
      max-width: min-content;
    }
  }

  .mission {
    &__container {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__falcon-img {
      width: 105%;
    }
  }

  .falcon {
    &__btn-cnt {
      margin: 50px 0 0;
    }

    &__info-container {
      flex-direction: column;
    }

    &__img-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      margin: 85px 0 0;
      right: 0;
      left: 11%;
      width: 150%;
      height: auto;
    }

    &__overview {
      padding-bottom: 70px;
    }
  }

  .engines {

    &__wrapper{
      flex-direction: column;
    }

      &__left-half {
        margin-bottom: 0;
      }

    &__img-cnt {
      width: 100%;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__img {
      position: relative;
      left: -12%;
      width:150%;
      height:auto;
    }

    &__elm-img {
      display: none;
    }

    &__adaptive {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__text {
      max-width: 100%;
      margin-bottom: 0;
    }

    &__text-img {
      display: none;
    }

    &__elm {
      width: 45%;
      min-width: 205px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {

  .falcon-9 {
    &__text-container {
      width: 70%;
    }

    &__title {
      font-size: 70px;
      white-space: nowrap;
    }

    &__subtitle {
      font-size: 26px;
    }
  }

  .falcon {
    &__adaptive {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__a-container {
      margin: 80px 40px 40px 40px;
    }
  }

  .gallery {

    &__img-low2,
    &__img-low1,
    &__img-mid1,
    &__img-mid2 {
      display: none;
    }

    &__elm {
      width: 55px;
      height: 55px;
    }

    .mission__info-title {
      margin: 40px 0 30%;
    }
  }

  .mars {
    &__title-cnt {
      height: 600px;
    }

    &__contacts {
      grid-template-columns: minmax(170px, 426px);
      grid-template-rows: 1fr;
    }
  }


}

@media (max-width: 576px) {
  .falcon-9 {
    &__stat {
      gap: 70px;
    }
  }

  .gallery {
    &__elm {
      width: 40px;
      height: 40px;
    }

    &__href {
      margin-left: 42%;
    }
  }

  .engines{
    &__img{
      width: 200%;
      left: -16%;
    }
  }

  .falcon {
    &__overview {
      border: none;
      padding: 0;
    }

    &__overview-container{
      margin: 0 auto;
    }
    &__img {
      right: 0;
      left: 18%;
      width: 250%;
      height: auto;
    }
  }


}

@media (max-width: 425px) {
  .falcon-9 {
    &__title {
      font-size: 50px;
    }
  }

  .mars {
    &__big-link {
      padding-left: 15px;
    }
  }
}

@media (max-width: 375px) {
  .launches {
    &__card {
      width: 110%;
    }

    &__card-img {
      width: 100%;
    }
  }

  .falcon {
    &__text {
      font-size: 16px;
    }
  }

}

/*# sourceMappingURL=index.css.map */